<tr>
    <td>
        {{date}}
    </td>
    <td>
        {{weight}}
    </td>
    <td>
        {{chest}}
    </td>
    <td>
        {{thigh}}
    </td>
    <td>
        {{upperArm}}
    </td>
    <td>
        {{waist}}
    </td>
    <td>
        {{hips}}
    </td>
    <td>
        {{comment}}
    </td>
</tr>