<tr>
    <td>
        {{datetime}}
    </td>
    <td>
        {{weight}}
    </td>
    <td>
        {{chest}}
    </td>
    <td>
        {{thigh}}
    </td>
    <td>
        {{upperArm}}
    </td>
    <td>
        {{waist}}
    </td>
    <td>
        {{hips}}
    </td>
    <td>
        {{comment}}
  </td>
    <td>
        <a href="/dashboard/deleteassessment/{{id}}"  class="ui icon button">
          <i class="icon trash"></i>
    </td>
</tr>