{{#each members}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{fullname}} 
    </h2>
    <p>
      <span class="ui medium red text">{{email}}</span>
    </p>
    <p>
         Number of Assessments: {{assessmentCollection.length}}
    </p>
    <a href="/trainerdashboard/trainerAssessments/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/trainerdashboard/deletemember/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}