{{> menu id="settings"}}

<segment class="ui aligned middle aligned two column grid segment">
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/8fe88056-95cf-41a7-b264-3253cbb98167%2Fabout.jpg?v=1595066738947">
  </div>
  <div class="column">
    <form class="ui stacked segment form" action="/accounts/updatesettings/{{userid}}" method="POST">
      <h1 class="ui orange header">Account: {{member.fullname}} </h1>
      <div class="two fields">
        <div class="field">
          <label>Fullame</label>
          <input placeholder="{{member.fullname}}" type="text"  name="name">
        </div>
        <div class="field">
          <label>Gender</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="gender">
            <i class="dropdown icon"></i>
            <div class="default text">Gender</div>
            <div class="menu">
              <div class="item" data-value="Unspecified">Unspecified</div>
              <div class="item" data-value="Male">Male</div>
              <div class="item" data-value="Female">Female</div>
            </div>
          </div>
        </div>
      </div>
      <div class="field required">
         <label>Email</label>
          <div class="ui left icon input">
              <i class="mail icon"></i>
              <input placeholder="{{member.email}}" name="email">
          </div>
      </div>
      <div class="field required">
        <label>Password</label>
          <div class="ui left icon input">
              <i class="lock icon"></i>
              <input placeholder ="{{member.password}}"  name="password">
          </div>
      </div>
      <div class="field">
        <label>Address</label>
        <div class="ui left icon input">
          <i class="address card icon"></i>
          <input placeholder="{{member.address}}" name="address">
        </div>
      </div>
      <div class="ui success message">
        <div class="header">Form Completed</div>
        <p>You're account has been setup.</p>
      </div>
      <button class="ui blue submit button">update/edit profile</button>
    </form>
  </div>
</segment>